* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1769_65 {
  width: 100%;
  height: 98vh;
  background: rgba(246, 246, 246, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1769_66 {
  width: 37px;
  color: rgba(22, 28, 45, 1);
  position: absolute;
  top: 1094px;
  left: 2238px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1769_68 {
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150, 150, 150, 1);
  box-shadow: 0px 1px 3px
    rgba(
      0.08627451211214066,
      0.10980392247438431,
      0.1764705926179886,
      0.11999999731779099
    );
  overflow: hidden;
}
.v1769_69 {
  width: 100%;
  height: 1px;
  background: rgba(215, 215, 215, 1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 0px;
  border: 1px solid rgba(225, 233, 242, 1);
}
.v1769_91 {
  width: 98px;
  color: rgba(78, 91, 115, 1);
  position: absolute;
  top: 26px;
  left: 45px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1775_115 {
  width: 459px;
  height: 82px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.v1775_116 {
  width: 459px;
  height: 82px;
  background: rgba(48, 79, 254, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150, 150, 150, 1);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v1775_117 {
  width: 459px;
  height: 82px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 32px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
