* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0px;
}
.v1974_1866 {
  width: 100%;
  height: 1024px;
  background: rgba(246, 246, 246, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px;
  overflow: hidden;
}
.v2029_885 {
  width: 100%;
  height: 4px;
  background: rgba(45, 80, 249, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2033_628 {
  width: 100%;
  height: 400px;
  /* background: rgba(255, 255, 255, 1); */
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v2033_627 {
  width: 368px;
  height: 140px;
  /* background: rgba(255, 255, 255, 1); */
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.v2040_1001 {
  width: 368px;
  height: 52px;
  /* background: rgba(255, 255, 255, 1); */
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1974_1874 {
  width: 368px;
  color: rgba(45, 80, 249, 1);
  position: absolute;
  top: 64px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v2033_629 {
  display: block;
  margin: auto;
}
